@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    
    background-image: linear-gradient(wheat, #74c6cf );
}


div#opcao{
    display: flex;
    justify-content: center;
}


div#opcao > input , div#opcao > a > input{
    padding: 8px;
    margin: 5px;

    font-family: 'Roboto Mono', monospace;

    background-color: #e76857;
    color: white;

    border: none;
    border-radius: 8px;

} 

div#opcao > input:hover , div#opcao > a > input:hover{
    background-color: #96f87d;
    color: black;
    transition: 0.5s ease-in-out;
}

header > h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    text-align: center;
    margin-bottom: 15px;
    
}

header {
    font-family: 'Roboto Mono', monospace;
    text-align: center justify;
    
}

footer{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}


@media screen and (max-width:685px) {

body > div#tela {
    background-image: url(tv-y.png);
    background-size: 90vw;
    background-repeat: no-repeat;
    background-position: center;

    height: 600px;
    width: 100%;
    position: relative;
}

body > div#tela > iframe#yt-tela{
    position: relative; 
    overflow: hidden;
    background-color: black;
    top: 32vh;
    left: 50vw;
    translate: -50% -75%;
    height: 38vw;
    width: 60vw;
    z-index: 1;
}
}

@media screen and (min-width:686px) and (max-width:875px) {
    body > div#tela {
    background-image: url(tv-y.png);
    background-size: 70vw;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
}

body > div#tela > iframe#yt-tela{
    position: relative; 
    overflow: hidden;
    background-color: black;
    top: 34vh;
    left: 50vw;
    translate: -50% -75%;
    height: 35vw;
    width: 52vw;
    z-index: 1;
}

header {
    margin-top: 12px;
    padding: 25px;
}

header > p {
    display: none;
}
}

@media screen and (min-width:876px) and (max-width:1300px) {

    body > div#tela {
        background-image: url(tv-y.png);
        background-size: 60vw;
        background-repeat: no-repeat;
        background-position: center;
        height: 800px;
        width: 100%;
        position: relative;
    }
    body > div#tela > iframe#yt-tela{
        position: relative; 
        overflow: hidden;
        background-color: black;
        top: 50vh;
        left: 50vw;
        translate: -50% -85%;
        height: 32vw;
        width: 44vw;
        z-index: 1;
    }
    
    header {
        padding: 20px;
        margin-bottom: 1px;
    }

    header > p {
        display: none;
    }

}

@media screen and (min-width: 1301px) {
    
    body > div#tela {
        background-image: url(tv-y.png);
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: center;
        height: 810px;
        width: 100%;
        position: relative;

    }
    body > div#tela > iframe#yt-tela{
        position: relative; 
        background-color: black;
        top: 49vh;
        left: 50vw;
        translate: -50% -85%;
        height: 300px;
        width: 450px;
        z-index: 1;
    }
    
    header {
        padding: 20px;
        margin-bottom: 1px;
    }

    header > p {
        display: none;
    }
}