@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* background-color: #131a1d ;*/

body > div#screen > h1 {
    margin: 0px 15px;
    padding: 10px;

    font-size: 3em;    
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    
    text-align: center;
    color: white;
}

main{
    height: 75vh;
}

div#botao-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
    }

input#botao{
    font-size: 1.6em;
    font-family: 'Roboto Mono', monospace;

    width: 320px;

    background-color: rgba(0, 0, 0, 0.342);
    color: white;    
    border-radius: 20px;
    padding: 10px;


    border-style: none;
}

input#botao:hover{
    background-color: #C1D9D9;
    color:#026873 ;
    transition: 1s ease;

}

footer > p {
    background-color: transparent;
    color: white;
    text-align: center;
    font-family:'Roboto Mono', monospace;
}

@media screen and (max-width: 649px ) {

    body{
        background-color: #131a1d;
        background-image:url(/Site/media/tv-02.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }
}

@media screen and (min-width: 650px){

body{

    background-color: #131a1d;
    background-image:url(/Site/media/tv-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}




}
@media screen and (min-width: 850px ) {
    body{
        background-color: #131a1d;
        background-image:url(/Site/media/tv-02.jpg);
        background-repeat: no-repeat;
        background-attachment: center center;
        background-size: 100vw;
        background-position: center center;

    }
}

@media screen and (min-width: 1200px ) {
    body{
        background-color: #131a1d;
        background-image:url(/Site/media/tv-02.jpg);
        background-repeat: no-repeat;
        background-attachment: center center;
        background-size: 60vw;
        background-position: center center;

    }
}